body {
   font-family: tahoma;
   color:#282828;
   margin: 0px;
   vertical-align: middle;
 }

.header-bar {
  background: linear-gradient(-90deg, #330867, #16C0B0);
  height: 30px;
  margin-bottom: 1px;
}

h1 {
  text-align: center;
  background: -webkit-linear-gradient(0deg, #330867, #30CFD0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
