<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"/>
        <title>WAFERS v0.1 - 2019.10.31</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://unpkg.com/vuejs-datepicker"></script>
   </head>
    <body>
      <div id="app">
        <small title="Web Applications For Endlessly Repetitive Stuff">WAFERS: Created by Jack Neylon, Phd, DABR</small>
        <small style="float:right">v0.1 (2019.10.31)</small>
        <div v-show="!showSPC">
          <table>
              <tr>
                  <td>Patient Name:</td>
                  <td><input v-model="patient" placeholder="Enter Patient Name"></td>
              </tr>
              <tr>
                  <td>Patient MRN:</td>
                  <td><input v-model="mrn" placeholder="Enter MRN"></td>
              </tr>

              <tr>
                  <td>Request Date:</td>
                  <td><vuejs-datepicker name="update_rxdate" :value="rxdate" v-model="rxdate" format="d MMMM yyyy"></vuejs-datepicker></td>
              </tr>
              <tr>
                  <td>Action Date:</td>
                  <td><vuejs-datepicker name="update_txdate" :value="txdate" v-model="txdate" format="d MMMM yyyy"></vuejs-datepicker></td>
              </tr>
              <tr>
                <td>Physician</td>
                <td>
                  <select v-model="physician" placeholder="Select the Attending Physician">
                      <option disabled value="">Select the Attending Physician</option>
                      <option v-for="doc in docs" v-bind:value="doc">
                          {{ doc.lastname }}, {{ doc.firstname}}
                      </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Physicist</td>
                <td>
                  <select v-model="physicist" placeholder="Select the Physicist">
                      <option disabled value="">Select the Physicist</option>
                      <option v-for="nerd in nerds" v-bind:value="nerd">
                          {{ nerd.lastname }}, {{ nerd.firstname }}
                      </option>
                  </select>
                </td>
              </tr>
          </table>
        </div>

        <p>&nbsp;</p>

        <wafer-spc  v-show="showSPC"
                    :w_patient="patient"
                    :w_mrn="mrn"
                    :w_physician="physician"
                    :w_physicist="physicist"
                    :w_rxdate="rxdate"
                    :w_txdate="txdate">
        </wafer-spc>

        <table>
          <tr>
            <td>
                <button @click="showSPC=toggleShow(showSPC)">Special Physics Report</button>
            </td>
          </tr>
        </table>

      </div>

      <script src="js/main.js"></script>
    </body>
</html>

<!--
<tr>
    <td>Rx Dose:</td>
    <td><input v-model.number="rxdose" type="number" placeholder="Enter Rx Dose in cGy"></td>
</tr>
<tr>
    <td># Fractions</td>
    <td><input v-model.number="fractions" type="number" placeholder="Enter # of Fractions"></td>
</tr>
-->
