<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"/>
        <title>WAFERS: Created by Jack Neylon, Phd, DABR (v0.2-2019.11.05)</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="css/print.css"/>

        <link rel="manifest" href="manifest.json">
        <meta name="description" content="Web Applications For Endlessly Repetitive Stuff">
        <meta name="theme-color" content="#2F3BA2"/>
   </head>
    <body>
      <div id="app">
        <h1 title="Web Applications For Endlessly Repetitive Stuff">WAFERS</h1>
        <div class="no-print">
          <table>
              <tr>
                  <td>Patient Name:</td>
                  <td><input v-model="patient" placeholder="Enter Patient Name"></td>
              </tr>
              <tr>
                  <td>Patient MRN:</td>
                  <td><input v-model="mrn" placeholder="Enter MRN"></td>
              </tr>

              <tr>
                  <td>Request Date:</td>
                  <td><vuejs-datepicker name="update_rxdate" :value="rxdate" v-model="rxdate" format="d MMMM yyyy"></vuejs-datepicker></td>
              </tr>
              <tr>
                  <td>Action Date:</td>
                  <td><vuejs-datepicker name="update_txdate" :value="txdate" v-model="txdate" format="d MMMM yyyy"></vuejs-datepicker></td>
              </tr>
              <tr>
                <td>Physician</td>
                <td>
                  <select v-model="physician" placeholder="Select the Attending Physician">
                      <option disabled value="">Select the Attending Physician</option>
                      <option v-for="doc in docs" v-bind:value="doc">
                          {{ doc.lastname }}, {{ doc.firstname}}
                      </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Physicist</td>
                <td>
                  <select v-model="physicist" placeholder="Select the Physicist">
                      <option disabled value="">Select the Physicist</option>
                      <option v-for="nerd in nerds" v-bind:value="nerd">
                          {{ nerd.lastname }}, {{ nerd.firstname }}
                      </option>
                  </select>
                </td>
              </tr>
          </table>
          <p>&nbsp;</p>
        </div>

        <div v-show="showWAFER > 0">
          <table class="no-print">
            <tr>
              <td>
                <button onclick="window.print()">Print Report</button>
              </td>
              <td>
                <button @click="showWAFER=0">Back to WAFERS</button>
              </td>
            </tr>
          </table>
        </div>

        <div v-show="showWAFER === 1">
          <wafer-spc
                    :w_patient="patient"
                    :w_mrn="mrn"
                    :w_physician="physician"
                    :w_physicist="physicist"
                    :w_rxdate="rxdate"
                    :w_txdate="txdate"
                    id='mySPCwafer'>
          </wafer-spc>
        </div>
        <div v-show="showWAFER === 2">
          <wafer-imrt
                    :w_patient="patient"
                    :w_mrn="mrn"
                    :w_physicist="physicist"
                    :w_txdate="txdate"
                    id='myIMRTwafer'>
          </wafer-imrt>
        </div>
        <div v-show="showWAFER === 3">
          <wafer-edwf></wafer-edwf>
        </div>
        <div v-show="showWAFER === 4">
          <wafer-diode></wafer-diode>
        </div>
        <div v-show="showWAFER === 0">
          <table>
            <tr>
              <td>
                  <button @click="showWAFER=1">Special Physics Report</button>
              </td>
              <td>
                  <button @click="showWAFER=2">IMRT QA Report</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button @click="showWAFER=3">EDW Output Factor</button>
              </td>
              <td>
                  <button @click="showWAFER=4">In-Vivo Diode Check</button>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <script src='js/utilities.js'></script>
      <script src='js/waferEDWF.js'></script>
      <script src='js/waferIMRT.js'></script>
      <script src='js/waferSPC.js'></script>
      <script src='js/waferDIODE.js'></script>
      <script src="js/main.js"></script>

      <script src="/js/install.js"></script>
      <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
              .then((reg) => {
                console.log('Service worker registered.', reg);
              });
        });
      }
      </script>
    </body>
</html>
